<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <h2>Студент: {{ student_name }}</h2>
    <h2>Группа: {{ group_number }}</h2>

    <table>
        <thead>
            <tr>
                <th>Название экзамена</th>
                <th>Дата создания записи</th>
                <th>Дата проведения экзамена</th>
                <th>Изображение задания</th>
                <th>Пользователи</th>
                <th>Опубликовано</th>
            </tr>
        </thead>
        <tbody>
            {% for exam in exams %}
            <tr>
                <td>{{ exam.exam_name }}</td>
                <td>{{ exam.created_at }}</td>
                <td>{{ exam.exam_date }}</td>
                <td><img src="{{ exam.exam_image.url }}" alt="{{ exam.exam_name }}" width="100"></td>
                <td>
                    {% for user in exam.users.all %}
                        {{ user.username }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>{{ exam.is_public }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
