<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список экзаменов</title>
</head>
<body>
    <h1>Список экзаменов</h1>
    <p><strong>Студент:</strong> Орлова Анна Александровна</p>
    <p><strong>Группа:</strong> 241-672</p>

    <table border="1">
        <thead>
            <tr>
                <th>Название экзамена</th>
                <th>Дата создания записи</th>
                <th>Дата проведения экзамена</th>
                <th>Изображение задания</th>
                <th>Пользователи</th>
                <th>Опубликовано</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Экзамен по русскому языку</td>
                <td>May 28, 2025, 10:31 a.m.</td>
                <td>May 31, 2025, noon</td>
                <td>Экзамен по русскому языку</td>
                <td>owners, carolinemeta.r25@gmail.com</td>
                <td>True</td>
            </tr>
            <tr>
                <td>Математический экзамен</td>
                <td>May 28, 2025, 10:31 a.m.</td>
                <td>May 30, 2025, noon</td>
                <td>Математический экзамен</td>
                <td>carolinemeta.r25@gmail.com</td>
                <td>True</td>
            </tr>
            <tr>
                <td>Экзамен по географии</td>
                <td>May 28, 2025, 10:31 a.m.</td>
                <td>May 29, 2025, 6 p.m.</td>
                <td>Экзамен по географии</td>
                <td>carolinemeta.r25@gmail.com</td>
                <td>True</td>
            </tr>
            <tr>
                <td>Экзамен по русскому языку</td>
                <td>May 28, 2025, 10:32 a.m.</td>
                <td>May 30, 2025, noon</td>
                <td>Экзамен по русскому языку</td>
                <td>owners, carolinemeta.r25@gmail.com</td>
                <td>False</td>
            </tr>
            <tr>
                <td>Экзамен по физике</td>
                <td>May 28, 2025, 10:32 a.m.</td>
                <td>May 29, 2025, 10:32 a.m.</td>
                <td>Экзамен по физике</td>
                <td>owners, carolinemeta.r25@gmail.com</td>
                <td>True</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
